<router-outlet></router-outlet>

<pre>
Eager: {{ '{' }}
  loaded: {{ (eager$ | async)?.loaded }},
  count: {{ (eager$ | async)?.count }}
{{ '}' }}
</pre>

<pre>
Lazy1: {{ '{' }}
  loaded: {{ (lazy1$ | async)?.loaded }},
  count: {{ (lazy1$ | async)?.count }}
{{ '}' }}
</pre>

<pre>
Lazy2: {{ '{' }}
  loaded: {{ (lazy2$ | async)?.loaded }},
  count: {{ (lazy2$ | async)?.count }}
{{ '}' }}
</pre>

<button (click)="eager()">eager</button>
<button (click)="lazy1()">lazy1</button>
<button (click)="lazy2()">lazy2</button>
